@font-face {
    font-family: "Choco cooky";
    src: url("./choco-cooky/Chococooky.woff2") format("woff2"),
        url("./choco-cooky/Chococooky.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
