.form-category {
    margin: 20px;
    .form-group.invalid {
        input {
            border-color: red !important;
        }
        span {
            color: red !important;
        }
    }
    .form-group {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .form-label {
            font-size: 16px;
        }
        .form-control {
            border: 3px solid #ddd;
            margin-top: 10px;
            height: 40px;
            font-size: 20px;
            font-family: inherit;
            &:focus {
                outline: transparent;
                border: 3px solid #000;
            }
        }
    }
    .form-btn {
        margin-top: 20px;
        margin-bottom: -20px;
        input {
            margin-left: auto;
        }
    }
}
