// Colors
$color-1: #2c3e50;
$color-2: #3498db;
$color-3: #2ecc71;
$color-4: #e74c3c;

.modal-btn {
    position: relative;
    display: table-cell;
    width: 100px;
    height: 100px;
    background-color: $color-1;
    box-shadow: 0 0 40px rgba(black, 0.3);
    border-radius: 50%;
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 2.75;
    transition: box-shadow 250ms ease;

    &:hover {
        box-shadow: 0 0 5px rgba(black, 0.3);
    }
}
.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    transition: background-color 0.3s linear;
}
.modal-content.sm {
    max-width: 400px;
}
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%) scale(0);
    padding: 30px;
    background-color: white;
    border: solid 3px #888;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 1px 1px 8px 0 grey;
    transition: transform 0.3s ease;
    visibility: hidden;
    z-index: 20;

    .close {
        position: relative;
        float: right;
        font-size: 18px;
        transition: transform 0.3s ease;
        z-index: 11;

        &:hover {
            color: $color-2;
            transform: rotate(540deg);
        }
    }

    header {
        position: relative;
        display: block;
        border-bottom: 1px solid #eee;
        //background-color: gray;

        h2 {
            margin: 0 20px 0px 0;
            padding: 0;
            font-size: 28px;
        }
    }

    article {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.75;

        p {
            //margin-bottom: 30px;
        }
    }

    footer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
        padding: 10px 0 0;

        .button {
            position: relative;
            padding: 10px 30px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 400;
            color: white;
            text-transform: uppercase;
            overflow: hidden;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: rgba(white, 0.2);
                transition: width 250ms ease;
                z-index: 0;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &.success {
                margin-right: 5px;
                background-color: $color-3;
            }

            &.danger {
                background-color: $color-4;
            }
        }
    }
}
.modal-bg.open {
    visibility: visible;
    background-color: black;
    opacity: 0.7;
    transition: background-color 0.3s linear;
}

.modal-content.open {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease;
    z-index: 111;
}
