.pagination-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    .pagination-button {
        @extend .button-2;
    }
    .pagination-number {
        @extend .button-2;
        font-family: inherit;
        font-size: 14px;
        &:hover {
            opacity: 0.8;
            background: #888;
            color: #fff;
        }
    }
    .active {
        background: #888;
        color: #ffffff;
        transform: translate3d(0, 2px, 0);
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    }
    #next-button:disabled,
    #prev-button:disabled {
        background: #fff;
        color: #888;
        transform: translate3d(0, 2px, 0);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    #next-button:hover:not(#next-button:disabled),
    #prev-button:hover:not(#prev-button:disabled) {
        opacity: 0.8;
        background: #888;
        color: #fff;
    }
}
