.form-users {
    margin: 20px;
    .form-group.invalid {
        input {
            border-color: red !important;
        }
        span {
            color: red !important;
        }
    }
    .form-group {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .form-label {
            margin-bottom: 10px;
            font-size: 16px;
        }
        .form-control {
            border: 3px solid #ddd;
            height: 40px;
            font-size: 20px;
            font-family: inherit;
            &:focus {
                outline: transparent;
                border: 3px solid #000;
            }
        }
        .form-control[type="checkbox"] {
            align-self: start;
            width: 30px;
        }
    }
    .form-btn {
        margin-top: 20px;
        margin-bottom: -20px;
        input {
            margin-left: auto;
        }
    }
}
.user-detail {
    li {
        margin-top: 16px;
        font-size: 16px;
        span {
            font-weight: 600;
            margin-right: 10px;
        }
    }
}
